/*
* demo.css
* File include item demo only specific css only
******************************************************************************/

.light-style .menu .app-brand.demo {
  height: 64px;
}

.dark-style .menu .app-brand.demo {
  height: 64px;
}

.app-brand-logo.demo {
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -ms-flexbox;
  display: flex;
  width: 34px;
  height: 24px;
}

.app-brand-logo.demo svg {
  width: 35px;
  height: 24px;
}

.app-brand-text.demo {
  font-size: 1.375rem;
}

/* ! For .layout-navbar-fixed added fix padding top tpo .layout-page */
.layout-navbar-fixed .layout-wrapper:not(.layout-without-menu) .layout-page {
  padding-top: 64px !important;
}
.layout-navbar-fixed .layout-wrapper:not(.layout-horizontal):not(.layout-without-menu) .layout-page {
  padding-top: 78px !important;
}
/* Navbar page z-index issue solution */
.content-wrapper .navbar {
  z-index: auto;
}

/*
* Content
******************************************************************************/

.demo-blocks > * {
  display: block !important;
}

.demo-inline-spacing > * {
  margin: 1rem 0.375rem 0 0 !important;
}

/* ? .demo-vertical-spacing class is used to have vertical margins between elements. To remove margin-top from the first-child, use .demo-only-element class with .demo-vertical-spacing class. For example, we have used this class in forms-input-groups.html file. */
.demo-vertical-spacing > * {
  margin-top: 1rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.demo-vertical-spacing-lg > * {
  margin-top: 1.875rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing-lg.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.demo-vertical-spacing-xl > * {
  margin-top: 5rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing-xl.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.rtl-only {
  display: none !important;
  text-align: left !important;
  direction: ltr !important;
}

[dir='rtl'] .rtl-only {
  display: block !important;
}

/* Dropdown buttons going out of small screens */
@media (max-width: 576px) {
  #dropdown-variation-demo .btn-group .text-truncate {
    width: 254px;
    position: relative;
  }
  #dropdown-variation-demo .btn-group .text-truncate::after {
    position: absolute;
    top: 45%;
    right: 0.65rem;
  }
}

/*
* Layout demo
******************************************************************************/

.layout-demo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 1rem;
}
.layout-demo-placeholder img {
  width: 900px;
}
.layout-demo-info {
  text-align: center;
  margin-top: 1rem;
}

//* Custom Style For Dashboard *\\

:root {
  --show-label-data-bg: #fafafa;
  --show-label-data-border: #dbdade;
} // :root

html.dark-style {
  --show-label-data-bg: rgba(134, 146, 208, 0.08);
  --show-label-data-border: #434968;
} // html.dark-style


body {
  font-family: 'Cairo', 'Public Sans', Arial, sans-serif !important;
  font-weight: 500;
  font-size: 15px;
  [dir="ltr"] {
    font-family: 'Public Sans', 'Cairo' !important;
  } // ltr
} // body

.table-hover > tbody > tr:hover > * {
  --bs-table-bg-state: rgba(0, 0, 0, 0.06) !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.table {
  th {
    letter-spacing: 0 !important;
  } // th
} // table

.reservation-cart-side {
  inset-block-start: calc(78px + 1rem);
} // reservation-cart-side

label.form-label, label.col-form-label {
  &.required {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .25rem;
    &::after {
      content: "*";
      color: red;
    } // after
  } // .required
} // label.form-label & label.col-form-label

.dropzoneBasic {
  padding: 0.422rem 0.875rem !important;
  border-radius: 0.375rem !important;
  border-style: solid !important;
  border-width: 1px !important;
  min-height: 38px;
  &.dz-started {
    gap: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: .5rem !important;
  } // dz-started
  .dz-message {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    font-size: 0.8125rem;
    &:before {
      position: static;
      flex-shrink: 0;
      width: 22px;
      height: 22px;
      background-size: 14px 14px !important;
      border-radius: .25rem !important;
    } // before
  } // dz-message
  .dz-preview {
    margin: 0;
    box-shadow: none !important;
    border-width: 1px !important;
    .dz-remove {
      pointer-events: auto; /* Re-enable pointer events for the remove link */
      opacity: 1; /* Ensure the remove link is fully visible */
      cursor: pointer; /* Show a pointer cursor for clarity */
      border: none;
    } // dz-remove
  } // dz-preview
  &.dz-upload-disabled  {
    pointer-events: none;
  }
} // dropzoneBasic

.iti {
  &.iti--allow-dropdown {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    direction: ltr;
    border: 1px solid #dbdade;
    border-radius: var(--bs-border-radius);
    min-height: 38px;
    .iti__country-container {
      inset-inline: 0 auto !important;
      flex-shrink: 0;
      position: static;
      border: none;
      align-self: stretch;
      padding-inline-end: .25rem;
      button {
        .iti__selected-country-primary {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: .5rem;
          padding: 0 .5rem;
          .iti__arrow {
            margin: 0 !important;
          } // iti__arrow
        } // iti__selected-country-primary
        .iti__selected-dial-code {
          margin: 0 !important;
          font-size: 0.9375rem;
          font-weight: 400;
          font-family: "Public Sans", "Cairo" !important;
        } // iti__selected-dial-code
      } // button
      .iti__dropdown-content {
        padding: .5rem;
        input.iti__search-input {
          padding: 0.422rem 0.875rem;
          color: #6f6b7d;
          border: 1px solid #dbdade;
          border-radius: var(--bs-border-radius);
          font-size: 0.9375rem;
          font-weight: 400;
          outline: none;
        } // input.iti__search-input
        ul.iti__country-list {
          margin-inline: -.5rem;
          li.iti__country {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: .5rem;
            font-size: 0.9375rem;
            font-weight: 500;
            color: #6f6b7d;
            gap: .5rem;
            .iti__flag, span.iti__country-name {
              margin: 0;
            } // iti__flag
          } // li.iti__country
        } // iti__country-list
      } // iti__dropdown-content
    } // iti__country-container
    input.iti__tel-input {
      border: none;
      box-shadow: none;
      padding: 0 !important;
      flex-grow: 1;
      align-self: stretch;
    } // input.iti__tel-input
  } // iti--allow-dropdown
} // iti

.flatpickr-monthSelect-theme-light, .flatpickr-monthSelect-theme-dark {
  .flatpickr-innerContainer {
    display: block !important;
    .flatpickr-rContainer {
      display: block;
      width: 100%;
      .flatpickr-monthSelect-months {
        display: grid;
        gap: .5rem;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        padding: .5rem;
        span.flatpickr-monthSelect-month {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          border-radius: .25rem;
          min-height: 30px;
          &:hover {
            background-color: #f8f8f8;
          } // hover
          &.selected {
            background-color: #7367f0;
            color: #fff;
          } // selected
        } // span.flatpickr-monthSelect-month
      } // flatpickr-monthSelect-months
    } // flatpickr-rContainer
  } // flatpickr-innerContainer
} // flatpickr-monthSelect-theme-light

.flatpickr-calendar {
  direction: ltr !important;
} // flatpickr-calendar

.slider-disabled {
  pointer-events: none;
} // slider-disabled

ul#select2-car-color-results {
  li.select2-results__option {
    .car-class-option {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: .5rem;
      font-size: 16px;
      font-weight: 500;
      .color-box {
        width: 25px;
        height: 25px;
        border-radius: .25rem;
        border: 1px solid #dddddd;
      } // color-box
    } // car-class-option
  } // li.select2-results__option
} // select2-car-color-results

#select2-car-color-container {
  span {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
    font-size: 16px;
    font-weight: 500;
    .color-box {
      width: 25px;
      height: 25px;
      border-radius: .25rem;
      border: 1px solid #dddddd;
    } // color-box
  } // span
} // select2-car-color-container

#contracts-print-page {
  color: #000000;
  max-width: 210mm;
  @media print {
    max-width: 100%;
  }
  .print-header {
    .col-right, .col-left {
      width: 40%;
      font-size: 0.6375rem;
    } // col-right
    .col-center {
      width: 20%;
      img {
        max-height: 50px;
      } // img
      div {
        font-size: 0.7375rem;
      } // div
    } // col-center
  } // print-header
  .print-page-title {
    div {
      border: 1px solid;
      font-size: 0.7375rem;
    } // div
  } // print-page-title
  table {
    border-color: #000000;
    th {
      color: #000000;
      font-size: 0.6375rem;
      small {
        font-size: 0.5375rem;
      } // small
    } // th
    td {
      color: #000000;
      font-size: 0.6375rem;
      .item-with-dots {
        b {
          &::before {
            content: "";
            position: absolute;
            inset-inline: 0;
            width: 100%;
            height: 2px;
            border-bottom: 1px dashed #bbb;
            inset-block-end: 5px;
          } // before
        } // b
      } // item
      small {
        font-size: 0.5375rem;
      } // small
      .imgthumb {
        img {
          max-height: 150px;
        } // img
      } // imgthumb
    } // td
  } // table
  .print-page-content {
    .slider-size {
      min-height: 35px;
      padding-block-start: 5px;
      padding-inline: .25rem;
    } // slider-size
    .noUi-connect {
      background-color: #000 !important;
    } // noUi-connect
    .noUi-handle {
      border-radius: 0;
      width: 3px;
      border: none;
      background-color: #000000 !important;
      box-shadow: none;
      inset-inline-start: -2px;
    } // noUi-handle
    .noUi-pips-horizontal {
      padding-block-start: .25rem;
      .noUi-marker {
        background-color: #000000;
      } // noUi-marker
      .noUi-value {
        color: #000000;
        padding: 0;
      } // noUi-marker
    } // noUi-pips-horizontal
  } // print-page-content
  .print-footer {
    .top-area {
      ul {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: .25rem;
        list-style: inside;
        li {
          font-size: 0.6375rem;
        } // li
      } // ul
    } // top-area
    .bottom-area {
      border: 1px solid #000000;
      .bottom-area-title {
        div {
          border: 1px solid;
          font-size: 0.7375rem;
        } // div
      } // bottom-area-title
      .bottom-area-content {
        font-size: 0.6375rem;
      } // bottom-area-content
      .signature-area {
        .item {
          font-size: 0.7375rem;
          b {
            min-width: 200px;
            &::before {
              content: "";
              position: absolute;
              inset-inline: 0;
              width: 100%;
              height: 2px;
              border-bottom: 1px dashed #bbb;
              inset-block-end: 5px;
            } // before
          } // b
        } // item
      } // signature-area
      .txt {
        font-size: 0.7375rem;
      } // txt
    } // bottom-area
    .signature-users {
      .item {
        font-size: 0.7375rem;
        b {
          &::before {
            content: "";
            position: absolute;
            inset-inline: 0;
            width: 100%;
            height: 2px;
            border-bottom: 1px dashed #bbb;
            inset-block-end: 5px;
          } // before
        } // b
      } // item
    } // signature-users
  } // print-footer
} // contracts-print-page

.slider-size {
  min-height: 44px;
  padding-block-start: 5px;
} // slider-size

b.show-label-data {
  min-height: 38px;
  padding: 0.422rem 0.875rem;
  font-size: 0.8000rem;
  line-height: 1.5;
  background-color: var(--show-label-data-bg);
  border: var(--bs-border-width) solid var(--show-label-data-border);
  border-radius: var(--bs-border-radius);
} // show-label-data

b.show-label-data-group {
  min-height: 38px;
  padding: 0.422rem 0.875rem;
  font-size: 0.8000rem;
  line-height: 1.5;
  background-color: var(--show-label-data-bg);
  border: var(--bs-border-width) solid var(--show-label-data-border);
  border-radius: var(--bs-border-radius);
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
} // show-label-data
